    <div>
	<nav>
		<h1>Guitar store</h1>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/wishlist">Your Wish list</a></li>
			<li><a href="/contacts">Contact Us</a></li>
			<li><a href="/about">About Us</a></li>
		</ul>
	</nav>
	<div id="generatorinator">
		<h1>Random Chord Generator</h1>
	    <p>Here is the chord of the day</p>
	    <p id="result"></p>
	</div>
    </div>