<!DOCTYPE html>
<html>
<head>
  <title>New Guitar</title>
</head>
<body>
  <h1>New Guitar</h1>
  <form action="/resources" method="POST">
    <label for="make">Make:</label>
    <input type="text" name="make" required>

    <label for="model">Model:</label>
    <input type="text" name="model" required>

    <label for="price">Price:</label>
    <input type="number" name="price" required>

    <label for="img">Image URL:</label>
    <input type="url" name="img" required>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
