<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Wishlist</h1>
    <% Object.keys(cart).forEach(function(itemId) { %> <% var item =
    cart[itemId].item; %>
    <div>
      <h2><%= item.name %></h2>
      <p>Price: $<%=item.price%></p>
      <p>Quantity: <%= cart[itemId].qty %></p>
    </div>

    <% });%>
  </body>
</html>
